.wrapper {
  text-align: center;
}

.paper {
  padding: 5px 0px;
  margin: auto;
  max-width: 500px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.company-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
